.form-field-container {
  position: relative;
  width: 100%;
}

.form-field-icon {
  position: absolute;
  height: max-content;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
}

.form-field {
  padding: 13px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.form-field--icon {
  padding-left: 45px;
}

.form-field:focus-visible {
  border: 1px solid transparent;
  outline: 2px solid #2f80ed;
}
